@model IEnumerable<test6.Models.ProductInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-action ="Create">Create New</a>
</p>
@*For display Emplyee info *@
<table class =" table table-striped">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Describe)
        </th>
    </thead>
    <tbody>
        @foreach(var emp in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>emp.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>emp.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>emp.origin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>emp.Describe)
                </td>
                <td>
                    <a asp-action ="Edit" asp-route-id ="@emp.ID">Edit</a>
                    <a asp-action ="Details" asp-route-id ="@emp.ID">Details</a>
                    <a asp-action ="Delete" asp-route-id ="@emp.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

